$accentColor = #7C3AEC
$borderColor = #e1e1e1
$codeBgColor = #414361
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596
$textColor = #414361
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px